.Payment_Parent{
    width: 95%;
    height: 100px;
    display: flex;
    margin-bottom: 50px;
    font-size: 35px;
    border: 1px solid black;
    box-shadow: 0 0 10px black;
}

.Payment_Total{
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Payment_Make{
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.Payment_Make:hover span{
    animation-name: click_me;
    animation-iteration-count: 1000;
    animation-duration: 1s;
}

@keyframes click_me{
    0%{border-top: 5px solid green;
        border-radius: 50%;
    }
    25%{border-right: 1px solid green;
    border-radius: 50%;}
    50%{border-bottom: 5px solid green;
    border-radius: 50%;}
    75%{border-left: 1px solid green;
    border-radius: 50%;}
    100%{
        border-top: 1px solid green;
        border-radius: 50%;
    }   
    }
